* {
  /*border: solid 1px;*/
  box-sizing: border-box;
}

body{
  background-color: #F7D358;
}


/*　全体　*/
/****************************************************************/

.wrapar{
  max-width: 1000px;
  min-height: 800px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/*　左　*/
/****************************************************************/

.listright{
  width: 25%;
  height: auto;
}

/*　英単語　PHP連携部分のデザイン　*/
/************************************/
.link_button {
  font-weight: bold;/*太字に*/
  text-decoration: none;/*下線消す*/
  background: skyblue;/*背景を水色に*/
  color:white;/*文字を白に*/
  padding:5px 10px;/*内側の余白*/
  border-radius: 20px;/*角を丸くする*/
  font-family: 'Avenir','Arial';/*フォントをいい感じに*/
  }

  /*以下カーソルを当てたとき*/
.link_button:hover {
  background: silver;/*背景色をシルバーに*/
  text-decoration: none;/*下線を消す*/
  }

  /*　英単語　説明文　*/
  /************************************/
  .setumei{
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: "Sawarabi Gothic";
  }




/*　左　*/
/****************************************************************/
.listleft{
  width: 15%;
  height: auto;
}



/*　真ん中　*/
/****************************************************************/
.displayzone{
  width: 70%;
  height: auto;
}

/*　画像部分　*/
/************************************/
.display{
  width: auto;
  height:70%;
  background-color: #FFFFFF;
  background-image: url(../img/kusamura.png);
  border-radius: 50%;
  position: relative;
}

img{
  max-width:100%;
  width: 50%;
  height: 50%;
}
#transformBox{
  transition: all 1s ease-out;
  position: absolute;
  top:0;
  left: 0;
  transform: translate3d(50%,50%,0);
}


/*　textareaとボタンの親　*/
/************************************/
.orders{
  /*align-items: center;*/
  border: none;
  text-align: center;
}

/*　textareaのcss　*/
/************************************/
.orderform{
  width: 80%;
  height:30%;
  margin-top: 10px;
  font-size: 60px;
  appearance : none;
  -webkit-appearance: none;
  border-radius: 1.5em;
  text-align: center;
}

/*「 Go 」ボタンのcss */
/************************************/
#orderbtn{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

#orderbtn:active { /*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

/*　真ん中 end....　*/
/****************************************************************/


















/* end */
